.JK {
    color: gray ;
}
.hm {
    color: lightskyblue
}
.bold {
    color:lightskyblue
}
.yo {
    color:lightskyblue
}
html, body {
    display: flex;
    align-items: center;
  justify-content: center;
  height: 100%;
  margin: 0px;
  padding: 0px;

   font-family: 'open sans', sans-serif;
}

.name {
    font-family: 'roboto', sans-serif;
    margin-bottom: 2px;
}

.social-links a:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }

.body {
    background: linear-gradient(to bottom, rgb(112, 168, 128) 0%, rgb(119, 187, 206) 100%);
  }